extends layout

block content
	h4="Flight " + number + " has been added!"

	p= "Flight Number: " + number
	p= "Origin: " + origin
	p= "Destination: " + destination
	p= "Depature Time: " + departs
	p= "Arrival Time: " + arrives

	a(href="../list") Return to Flight List